@import "Index";
@import "SobreNosotros";
@import "Tierra";
@import "Espacio";
@import "Contacto";

*{
margin: 0;
padding: 0;
list-style-type: none;
text-decoration: none;
font-family: 'Nunito', sans-serif;
}
